body {
    background: url(bg.png) left repeat-y;
    margin: 1em 0 0 210px;
    max-width: 720px;
    font-family: sans-serif;
}
.menu {
    float: left;
    margin-left: -210px;
    width: 183px;
}
.menu ul {
    margin: 0;
    padding: 0 4px;
}
.menu li {
    margin-left: 20px;
    list-style: square;
}
.menu .camelia {
    margin-left: 0;
    list-style: none;
}
.menu p {
    border-top: 1px solid #DDD;
    padding: 4px;
    font-size: smaller;
}
h1 {
    margin: .5em 0;
    font-size: 1.7em;
}
h2 {
    font-size: 1.25em;
}
h3 {
    font-size: 1em;
}
.warning {
    background: #FFF8F8;
    padding: 4px;
    border-radius: 4px;
}
pre {
    background: #F8FFF8;
    padding: 4px;
    border-radius: 4px;
}